<header>
    <nav class="navbar navbar-primary bg-light">
        <a class="navbar-brand" href="/users/home">One News</a>
        <div class="navbar-expand" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if(locals.user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/sign-out">Sign out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/update">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/preferences/update">Update Pref</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/delete">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/chart">Chart</a>
                </li>
            <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/sign-in">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/sign-up">Sign up</a>
                </li>
             <% } %>  
          </ul>
        </div>
      </nav>
</header>