<div class="charts">
  <div class="chart-1">
    <canvas id="myChart1"></canvas>
  </div>
  <div class="chart-1">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" onclick="displayOne();">View 1</a>
        <a class="dropdown-item" onclick="displayTwo();">View 2</a>
      </div>
    </div>
    <canvas id="myChart2"></canvas>
  </div>
</div>