<div class="form-card">
    <div class="card" style="width: 20rem;">
        <div class="card-header text-center">Update</div>
        <div class="card-body">
            <form action="/users/update-user" id="captcha-form" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp"
                        placeholder="Enter your username" required>
                </div>
                <div class="form-group">
                    <label for="email">Update Email address</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                        placeholder="Enter your email" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>