/*removing default margin*/
body{
    margin: 0px;
    padding: 0px;
}

img{
    height: 20rem;
}

img:hover{
    opacity: 0.5;
}

.custom{
    color: black;
}

.custom-img{
    opacity: 0.3;
}
/*footer style*/
footer{
    height: 5%;
    position: fixed;
    bottom: 0px;
    background-color: red;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
}

/*style for form cards*/
.form-card{
    height: 80%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

/*icon margin*/
.form-card i{
    margin-right: 1rem;
}

.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px){
    body{
        background-color:dodgerblue;
    }
}

@media screen and (max-width: 900px) {

    body{
        position: relative;
        background-color: lightblue;
    }
}

@media screen and (max-width: 668px) {
    body{
        background-color: lightseagreen;
    }

    img{
        height: 15rem;
    }

    .navbar-brand{
        font-size: medium;
    }

    .nav-item{
        font-size: medium;
    }
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }